<div class="container py-4">
  <div class="row">
    <div class="col-md-4">
      <h5 class="bg-success text-center text-white p-4">Previous Component</h5>
      <app-c1 [pgNumber]="currNumber-1" 
      (click)=" currNumber>1 ? currNumber = currNumber -1 : currNumber   "
      ></app-c1>
    </div>
    <div class="col-md-4">
      <h5 class="bg-success text-center text-white p-4">Current Component</h5>


      <app-c1 [pgNumber]="currNumber"></app-c1>
    </div>
    <div class="col-md-4">
      <h5 class="bg-success text-center text-white p-4">Next Component</h5>


      <app-c1 [pgNumber]="currNumber+1" (click)="currNumber = currNumber +1"></app-c1>
    </div>


  </div>
  <div class="row">
    <div class="col-md-12 text-center preNextBtn mt-4">
      <!-- <div class=""> -->
        <button class=" btn btn-primary mr-2"
        
        (click)=" currNumber>1 ? currNumber = currNumber -1 : currNumber   "
        [disabled] = "currNumber===1" 
        >Previous</button>
      <button class="btn btn-primary"
      (click)="currNumber = currNumber +1"
      >Next</button>
      <!-- </div> -->
    </div>
  </div>
</div>